<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="<%= config.keywords %>" />
  <meta name="author" content="<%= config.author %>" />
  <meta name="description" content="<%= config.description %>" />
  <title th:text="${site.title}" th:if="${_templateId}==index"></title>
  <title th:text="${site.title}" th:if="!${_templateId}"></title>
  <title th:text="${post.spec.title} + ' - ' + ${site.title}" th:if="${_templateId}==post"></title>
  <title th:text="'标签: ' + ${site.title}" th:if="${_templateId}==tags"></title>
  <title th:text="'标签：' + ${tag.spec.displayName} + ' - ' + ${site.title}" th:if="${_templateId}==tag"></title>
  <title th:text="${singlePage.spec.title} + ' - ' + ${site.title}" th:if="${_templateId}==page"></title>
  <title th:text="'分类：' + ${site.title}" th:if="${_templateId}==categories"></title>
  <title th:text="'分类：' + ${category.spec.displayName} + ' - ' + ${site.title}" th:if="${_templateId}==category"></title>
  <title th:text="'归档：' + ${site.title}" th:if="${_templateId}==archives"></title>
  <link rel="icon" th:href="${site.favicon}">

  <!-- Raleway-Font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

  <!-- site css -->
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1886449_67xjft27j1l.css" />
  <link rel="stylesheet" th:href="@{/assets/dist/style.css}" />
  <script th:src="@{/assets/dist/main.iife.js}"></script>
  
  <!-- jquery3.3.1 -->
  <th:block th:if="${theme.config.cdns.jquery}">
    <script defer type="text/javascript" th:src="${theme.config.cdns.jquery_url}"></script>
  </th:block>
  <th:block th:else>
    <script defer type="text/javascript" th:src="@{/assets/plugins/jquery.min.js}"></script>
  </th:block>
  
  <!-- gtag & footer view -->

  <script>
    var html = document.documentElement
    const colorMode = localStorage.getItem('color-mode')
    if (colorMode) {
      document.documentElement.setAttribute('color-mode', colorMode)
    }
  </script>
</head>
