<div class="header" th:with="menu = ${menuFinder.getPrimary()}">
  <div class="avatar">
    <a th:href="${site.url}" th:if="${theme.config.styles.logo}">
      <th:block th:if="${site.logo} != null">
        <img th:src="${site.logo}" alt="">
      </th:block>
    </a>
    <div class="nickname"><a th:href="${site.url}" th:text="${site.title}"></a></div>
  </div>
  <div class="navbar">
    <ul>
      <li class="nav-item" th:each="menuItem : ${menu.menuItems}" th:data-path="${menuItem.status.href}">
        <a th:href="@{${menuItem.status.href}}" th:text="${menuItem.status.displayName}"></a>
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript" th:src="@{/assets/js/activeNav.js}"></script>